<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base:: Layout(~{::section})">

<head >
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    
</head>
<body>
    
    <h1>All Blog Posts</h1>
    <form method="get" action="/posts">
        <input type="text" name="search" th:value="${searchQuery}" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <ul>
        <li th:each="post : ${posts}">
            <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a>
        </li>
    </ul>
    <a href="/posts/new">Create New Post</a>
    
</body>
</html>
